<html>
    <head>
        <meta charset="utf-8">
        <title>TW</title>
        <meta name="description" content="abcsds-tw twitter sentiment app">
        <meta name="viewport" content="width=device-width">
        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->

        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="{% static "styles/main.css" %}">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="{% static "bower_components/modernizr/modernizr.js" %}"></script>
        <!-- endbuild -->
    </head>
    <body>
        <h1>Upload a Stop Word list</h1>


        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'dashboard:uploadStopwords' %}" method="post">
        {% csrf_token %}

            <label for="list">Select a file:</label>
            <input type="file" name="stopword" id="list">
            <input type="submit" value="Upload" />
        </form>


    </body>
</html>
